
body {
  font-family: "proxima-nova",sans-serif;
  background-color: #f8f8f8;
  color: #111;
  text-shadow: 0 1px 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-soft",sans-serif;
}

.section-heading {
  border-left: 0.15em solid #ef6240;
  padding-left: 0.5em;
}

/**
 * Styles to aid with
 * the columns demonstrations
 */
.front-page .container {
  max-width: 920px;
}

.columns-page .container {
  max-width: 960px;
}

.hero-wrapper {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
  background-color: #4f83cf;
  text-shadow: none;
  color: #fff;
}

.hero-wrapper .blockquote {
  border-color: #fff;
}

.grid-content {
  background-color: #f07036;
  border-radius: 1px;
  color: #fff;
  text-align: center;
  padding: 0.75em 0;
  text-shadow: none;
}

.grid-content-lvl-2 {
  background-color: #d96632;
}
.grid-content-lvl-3 {
  background-color: #bc592c;
}
.grid-content-lvl-4 {
  background-color: #9d4c18;
}

.grid-content-row {
  background-color: #fbac88;
  color: #f07036;
}
.grid-content-row-inner {
  margin-left: 12px;
}
.column {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.column-show-outline .column {
  border: 1px dotted #ccc;
}

.grid-content code {
  color: #111;
}
.info {
  color: #fbac88;
}