/*
Syntax error: Mixin box-sizing is missing argument $box-model.
        on line 18 of styles/_layout.scss, in `box-sizing'
        from line 18 of styles/_layout.scss
        from line 27 of main.scss

13: 
14: // Sass variables, mixins and functions
15: // ======================================================================== /
16: @import 'options/variables';
17: @import 'options/mixins';
18: @import 'options/functions';
19: // @import 'includes/wp-theme-declaration';
20: 
21: @media screen {
22: 
23:   // Base styles

Backtrace:
styles/_layout.scss:18:in `box-sizing'
styles/_layout.scss:18
main.scss:27
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:57:in `perform_arguments'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:50:in `zip'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:50:in `perform_arguments'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:261:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:318:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:203:in `visit_if'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:225:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:360:in `visit_media'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:126:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:444:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.3/bin/sass:8
/usr/bin/sass:23:in `load'
/usr/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Mixin box-sizing is missing argument $box-model.\A         on line 18 of styles/_layout.scss, in `box-sizing'\A         from line 18 of styles/_layout.scss\A         from line 27 of main.scss\A \A 13: \A 14: // Sass variables, mixins and functions\A 15: // ======================================================================== /\A 16: @import 'options/variables';\A 17: @import 'options/mixins';\A 18: @import 'options/functions';\A 19: // @import 'includes/wp-theme-declaration';\A 20: \A 21: @media screen {\A 22: \A 23:   // Base styles"; }
