/*

  Project styles

------------------------------------------------	
  Version:     1.0
  Description: 
  
  Project related styles, pages specific and branding etc...
------------------------------------------------ */


/* Page Wrap Styles
------------------------------------------------ */
.page-wrap {
  margin: 0 auto;
  padding: 10px;
  max-width: 940px;
}