
body {
  font-family: "proxima-nova",sans-serif;
  background-color: #f8f8f8;
  color: #111;
  text-shadow: 0 1px 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-soft",sans-serif;
}

/**
 * Styles to aid with
 * the columns demonstrations
 */
.grid-content {
  background-color: #f07036;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  min-height: 3em;
  line-height: 3em;
  text-shadow: none;
}

.grid-content-lvl-2 {
  background-color: #d96632;
}
.grid-content-lvl-3 {
  background-color: #bc592c;
}
.grid-content-lvl-4 {
  background-color: #9d4c18;
}

.grid-content-row {
  border: 1px dotted #bc592c;
  background-color: #fef7f4;
}
.grid-content-row-inner {
  margin-left: 12px;
}
.column {
  margin-bottom: 0.75em;
}
.grid-content code {
  color: #111;
}
.info {
  color: #fbac88;
}